<html>
    <head>
    
    </head>
    <body>
        {% for char in characters%}
            {{char.user}}
            {{char.character_name}}
            {{char.class}}
            {{char.warlock_level}}
            {{char.otherworldly_patron}}
            {{char.sorcerer_level}}
            {{char.sorerous_origin}}
            {{char.race}}
            {{char.gender}}
            {{char.strength}}
            {{char.dexterity}}
            {{char.constitution}}
            {{char.intelligence}}
            {{char.wisdom}}
            {{char.charisma}}
            {{char.proficiency}}
            {{char.hit_points}}
            {{char.saving_throw.strength}}
            {{char.saving_throw.dexterity}}
            {{char.saving_throw.constitution}}
            {{char.saving_throw.intelligence}}
            {{char.saving_throw.wisdom}}
            {{char.saving_throw.charisma}}
            {{char.senses.passive_wis(perception)}}
            {{char.senses.passive_int(investigation)}}
            {{char.senses.passive_wis(insight)}}
        {% endfor %}
    </body>
</html>